*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
    padding: 10px; /* Optional: Adds some spacing */
    color: white;
}
span {
    color: #800080;
}
body{
    height: 100vh;
    background-image: url("https://i.pinimg.com/originals/49/1b/8b/491b8bbbbdfb7518d96fd83aaf8789a4.png");
    background-size: cover;
    background-position: center 5%;
    background-repeat: no-repeat;

}
form{
    display: flex;
    justify-content: center;
}
input {
    padding: 10px; 
    border-radius: 10px; /* Adjust this value for more/less rounding */
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}

p{
    display: flex;
    justify-content: center;
}
.jamHeading{
  width: 100%;  /* Makes the element span the full width */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /* Optional: Centers the text */
  top: 0;
  height: 5vh;
  background-color: #1d1160; /* Optional: Adds a background */
  align-items: center;
}
.userHeading{
  width: 100%;  /* Makes the element span the full width */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; /* Optional: Centers the text */
  height: 5vh;
  position: fixed;
  top: 6%;
  color: white;
  align-items: center;
}
.rAndPDiv{
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.rAndP {
  flex: 1; /* Makes both components take equal width */
  height: 45vh;
  width: 30%;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #1d1160; /* Optional: Adds a background */
  border-radius: 10px;
  color: white;
  overflow: auto;
}
.results{
  margin-left: 2%;
}
.playlist{
  margin-right: 2%;
}

.searchBar{
  padding-top: 5%;;
}

.tracks{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 2px;
  margin: 1px;
  font-size: small;
  background-color: #800080;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.trackForm{
  transform: scale(0.6);
}

.track-btn{
}

.track-det-spc{
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.track-det{
  display: flex;
  flex-direction: row;
  width: 100%;
}